<div class="container_full_width center">
	<div class="container center">
		<div id="article_section" class="col-sm-8">
			<article>
				<h1>{{articleContent[0].post_title}}</h1>
				<h2>{{articleContent[0].post_category}}</h2>
				<h3>{{articleContent[0].post_date}}</h3>
				<img class="center" src="{{articleContent[0].post_image}}">
				<p>{{articleContent[0].post_content}}</p>
			</article>
		</div>
		<div id="sidebar" class="col-sm-4">
			<aside>
				<ul>
					<li>one</li>
					<li>one</li>
					<li>one</li>
				</ul>
			</aside>
		</div>
	</div>
</div>




