
<div class="container center no_padding">
<nav id="main_nav">
  <ul>
  	<a class="logo center" ui-sref="home"><img src="images/ml_logo.png"></a>
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="about">About</a></li>
    <li><a ui-sref="physical-therapy">Physical Therapy</a></li>
    <li><a ui-sref="nutrition">Nutrition</a></li>
    <li><a ui-sref="motivation">Motivation</a></li>
    <li><a ui-sref="mo-knows">Mo Knows</a></li>
    <li><a ui-sref="contact">Contact</a></li>
  </ul>
</nav>


</div>
