<div id="mason" class="container_full_width center">
	<div class="container center">
		<div class="tile about_tile"><a ui-sref="about"></a><h1>about</h1></div>
		<div class="tile pt_tile"><a ui-sref="physical_therapy"></a><h3>physical therapy</h3></div>
		<div class="tile nutrition_tile"><a ui-sref="nutrition"></a><h3>nutrition</h3></div>
		<div class="tile blog_tile"><a ui-sref="blog"></a><h3>blog</h3></div>
		<div class="tile motivation_tile"><a ui-sref="motivation"></a><h2>motivation</h2></div>
		<div class="tile moknows_tile"><a ui-sref="moknows"></a><h2>mo knows</h2></div>
	</div>
</div>

<div id="latest_articles" class="container_full_width center">
	<div class="container center">
		<h1 class="section_title">Latest</h1>
		x
		<div class="post_box" ng-repeat="article in latestArticles" ng-hide="$first">
			<div class="post_image" style="background:url('{{article.post_image}}');background-size:cover"></div>
			<div class="post_info">
				<h3 class='post_title'>{{article.post_title}}</h3>
				<p class="post_category">{{article.post_category}}</p>
				<p class="post_description">{{article.post_description}}</p>
			</div>
			<p class="date_written">{{article.post_date}}</p>
			<a class='post_box_link' onmouseover="postHover(this)" onmouseout="notPostHover(this)"  href="api/articles.php?post_num={{article.post_num}}"></a>
		</div>
	</div>
</div>



