<div id="mason" class="container_full_width center">
	<div class="container no_padding center">
		<div class="tile about_tile"><a ui-sref="about"></a><h1>about</h1>
			<video autoplay  poster="" id="bgvid" loop muted>
				<source src="https://scontent-lga1-1.cdninstagram.com/hphotos-xfa1/t50.2886-16/11668565_732963270159431_1393026177_n.mp4" type="video/webm">
			</video>
		</div>
		<div class="tile pt_tile"><a ui-sref="physical-therapy"></a><h3>physical therapy</h3></div>
		<div class="tile nutrition_tile"><a ui-sref="nutrition"></a><h3>nutrition</h3></div>
		<div class="tile blog_tile"><a ui-sref="blog"></a><h3>blog</h3></div>
		<div class="tile motivation_tile"><a ui-sref="motivation"></a><h2>motivation</h2></div>
		<div class="tile moknows_tile"><a ui-sref="mo-knows"></a><h2>mo knows</h2></div>
	</div>
</div>

<div id="latest_articles" class="container_full_width center" >
	<div class="container no_padding center">
		<div class="col-sm-6 ">
			<h1 class="section_title">Latest</h1>
			<div data-posts></div data-posts>
		</div>
		<div class="col-sm-6 pull-left ">
			<h1 class="section_title">Latest</h1>
			<div data-posts></div data-posts>
		</div>
	</div>
</div>



