html{  
  height: 100%;
  width: 100%;
}

body{
  margin:0;
  padding: 0;
  font-family: "raleway","helvetica","arial","sans-serif";

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+66&amp;0+41,0.14+78 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wOSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 41%, rgba(0,0,0,0.09) 66%, rgba(0,0,0,0.14) 78%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(41%,rgba(0,0,0,0)), color-stop(66%,rgba(0,0,0,0.09)), color-stop(78%,rgba(0,0,0,0.14))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.09) 66%,rgba(0,0,0,0.14) 78%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.09) 66%,rgba(0,0,0,0.14) 78%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.09) 66%,rgba(0,0,0,0.14) 78%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0.09) 66%,rgba(0,0,0,0.14) 78%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#24000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  background: url('../images/polygon_bg_blur.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}


/*ng animate------------------------------------------*/
#content-views          { position:relative; }

.ng-enter, .ng-leave    { width:100%; position:absolute; }
.ng-enter               { 
  -webkit-animation:zoomInDown 1.2s both ease-in; 
  -moz-animation:zoomInDown 1.2s both ease-in; 
  animation:zoomInDown 1.2s both ease-in; 
}
.ng-leave               { 
  -webkit-animation:zoomOutDown 0.5s both ease-in; 
  -moz-animation:zoomOutDown 0.5s both ease-in; 
  animation:zoomOutDown 0.5s both ease-in; 
}

h1,h2,h3,h4{
  margin:0;
  padding:0;
}

/*premade classes*/

.center{
  margin-left: auto;
  margin-right: auto;
}

.container_full_width{
  width: 100%;
}

.container{
  max-width: 1200px !important;
}

.no_padding{
  padding: 0;
}

.float_left{
  float: left;
}
/*custom*/


/*homepage*/
.main_header{
  margin:0;
  padding:0;
  
  position: fixed;
  top: 0;
  z-index: 99;
  height: 130px;
}

.main_header h1{
  margin:0;
  color: white;
  /* text-align: center; */
}

a.logo{
  width: 70px;
  height: auto;
  padding: 10px;
  display: block
;
  padding-top: 26px;
}

a.logo img{
  width: 70px;
  height: auto;
}

.title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 12px;
    display: block;
}

#mason.container_full_width{
  padding-top: 40px;
  height: 100%;
}

#mason .container{

  height: 400px;
  box-sizing:border-box;
  -moz-box-shadow:     0 100px #000000;
   -webkit-box-shadow:  0 0 100px #000000; 
   box-shadow:         0 0 100px #000000; 



}


#template_inject{
    position: relative;

    margin-top: 130px;
}

.tile{
  position: relative;
  float: left;
  box-sizing:border-box;
  font-family: jura,helvetica,arial,"sans-serif";
  border: 1px solid #2B2B2B;

     -moz-filter:grayscale(30%);
  -webkit-filter:grayscale(30%);
          filter:grayscale(30%);

  -moz-box-shadow:    inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow:         inset 0 0 50px #000000;
    transition:.3s;
}

.tile:hover{
  
  border: 1px solid red;

  -webkit-box-shadow:0px 0px 36px 0px #F71107;
     -moz-box-shadow:0px 0px 36px 0px #F71107;
          box-shadow:0px 0px 36px 0px #F71107;
 

}

.tile h1,.tile h2,.tile h3{
  position: absolute;
  bottom: 0px;
  right: 0;
  background: black;
  color: white;
  text-transform: uppercase; 
  padding: 10px;

  /* font-style: italic; */
  font-weight: 100;
  /* font-size: 85%; */
}

.tile a{
  position: absolute;
  width: 100%;
  height: 100%;
}

.about_tile{
  height: 100%;
  width: 30%;
  background: url('../images/workout.png');
  background-position: top;
  background-size: cover;

}

.pt_tile{
  height: 60%;
  width: 30%;
  background: url('../images/moiz_pt_gym.png');
  background-position: top;
  background-size: cover;
}

.nutrition_tile{
  height: 60%;
  width: 20%;
  background: url('../images/nutrition.png');
  background-position: top;
  background-size: cover;
}

.blog_tile{
  height: 60%;
  width: 20%;
  background: url('../images/moiz_portrait.png');
  background-position: top;
  background-size: cover;
}

.motivation_tile{
  height: 40%;
  width: 35%;
  background: url('../images/motivation.png');
  background-position: top;
  background-size: cover;
}

.moknows_tile{
  height: 40%;
  width: 35%;
  background: url('../images/moknows.png');
  background-position: top;
  background-size: cover;
}

/*====================POST BOX====================*/

#latest_articles{
    margin-top: 100px;
  
}




.section_title{
  height: 100px;
  padding: 20px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-family: jura,helvetica,arial,sans-serif;
  font-weight: lighter;
  background: #191818;
  box-shadow: 0px 15px 10px -10px black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,353535+46,131313+100 */
  background: #0a0a0a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGEwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzMTMxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #0a0a0a 0%, #353535 46%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0a0a0a), color-stop(46%,#353535), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* IE10+ */
  background: linear-gradient(135deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#131313',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  box-shadow: 0px 32px 20px -30px #F70B00;
      box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-sizing:border-box;
    -o-box-sizing:border-box;
}





.post_box{
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    float: left;
    position: relative;
    background: rgb(255, 255, 255);
    background-position: center;
    font-family: helvetica;
    overflow: hidden;
    transition:.3s;
    box-shadow: 0px 32px 20px -30px #F71107;
    border: 1px solid #2B2B2B;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-sizing:border-box;
    -o-box-sizing:border-box;



  
  background: #191818;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,353535+46,131313+100 */
  background: #0a0a0a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGEwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEzMTMxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #0a0a0a 0%, #353535 46%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0a0a0a), color-stop(46%,#353535), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* IE10+ */
  background: linear-gradient(135deg,  #0a0a0a 0%,#353535 46%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#131313',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}



.post_box .post_image{    
  height: 130px;
  box-shadow: inset 0px 0px 36px 6px black;
}



.post_box .post_info{
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 96;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: helvetica,arial,sans-serif;
  transition: .3s;
  /* position: relative; */
  height: 130px;
}

.post_box .info:hover{
  
}

.post_box .post_title{
    padding: 0;
    margin: 0;
    color: #ABABAB;
    box-shadow: inset 0px 5px 35px #000000;
    font-weight: lighter;
}

.post_box .post_category{
    font-size: 12px;
    letter-spacing: 3px;
}



.post_box .post_description{
    height: 80px;
    overflow: scroll;
    text-transform: none;
    font-family: helvetica;
    font-weight: 100;
    font-size: 12px;
}

.date_written{
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: jura,helvetica,arial,;
  text-transform: uppercase;
  text-align: center;
  color: gray;
  /* border-top: 1px solid #2F2F2F; */
  /* width: 100%; */     
  /* border-top: 2px solid #151515; */
}

.post_box .post_box_link{
  position: absolute;
  height: 100%;
  width: 100%;
  /* display: inline-block; */
  transition:.3s;
  top: 0px;
  left: 0px;
  z-index: 98;
}

/*====================MOBILE====================*/

@media(max-width: 768px){
}



